@import "zion.util";

.cover-image-background {
    background: $color-grey-extra-lightest;
}

.multi-image-feed-container {
    position: relative;
    .page-title {
        font-size: 20px;
        font-weight: bold;
    }
    .page-subtitle {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 15px;
        color: $color-grey-light;
    }
    .post-title {
        margin-top: 15px;
    }

    .feed-title {
        padding-left: 17px;
        padding-right: 17px;
    }
    .feed-description {
        padding-left: 17px;
        padding-right: 17px;
    }

    .feed-image-container {
        margin-bottom: 15px;
        .feed-info-container {
            border: 2px dashed $color-grey-extra-light;
            padding: 15px;
            margin-top: 30px;
            position: relative;
            .image-preview {
                .image-container {
                    padding-left: 15px;
                    padding-right: 15px;
                    .look-thumbnail {
                        width: 100%;
                    }
                    @media(max-width: 991px) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            .title {
                display: none;
            }

            .edit-area {
                border: 1px solid $color-grey-extra-light;
                padding: 5px;
                .feed-description {
                    border: none;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 14px;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    height: auto;
                }
                .feed-description:focus {
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }

                .tools-area {
                    margin-bottom: 10px;
                    border-bottom: 1px solid $color-grey-extra-light;
                    font-size: 15px;
                    i {
                        font-size: 15px;
                    }
                    .editor-tool-btn{
                        padding: 5px 10px;
                    }
                }
            }

            .trash-icon {
                position: absolute;
                top: -10px;
                right: -10px;
                background: white;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                border: 2px solid $color-grey-light;
                i {
                    color: $color-grey-light;
                    line-height: 27px;
                    font-size: 20px;

                }
            }
            .trash-icon:hover {
                border-color: red;
                i {
                    color: red;
                }
            }
        }
        .current-cover-image {
            border: 2px dashed $color-grey-light;
            background-color: $color-grey-extra-lightest;
        }
    }

    .tag-area {
        .tag-area-title {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            background: white;
            padding: 10px;
            margin-left: 10px;
            color: $color-grey-light;
        }
        .tag-container {
            text-align: left;
            width: 100%;
            border: 1px solid #e5e5e5;
            margin: -18px auto 0;
            padding: 20px 10px 10px;
            .tag-separate {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            ul {
                margin-bottom: 0;
                margin-left: -40px;
                li {
                    list-style-type: none;
                    display: inline-block;
                    margin: 6px 6px 8px;
                    font-size: 13px;
                    .zion-filter-tag {
                        font-size: .9em;
                        font-weight: bold;
                        padding: 3px 12px;
                        border-radius: 5px;
                        background-color: $color-grey-extra-light;
                        @media (max-width: 419px) {
                            font-size: 10px;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                        &.active {
                            color: $color-white;
                            background-color: $color-grey-dark;
                        }
                    }
                    .tag-delete-btn {
                        margin-left: 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .custom-tag:hover {
                        cursor: inherit;
                    }
                }
            }
        }
        .add-tag-button {
            border-radius: 0;
        }
        .custom-tag-input {
            margin-top: 20px;
        }
    }

}

.float-menu {
    position: relative;
    height: 37px;
    .plus-button {
        box-sizing: content-box !important;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid $color-grey-light;
        background: #FFFFFF;
        color: #4E5A67;
        display: inline-block;
        font-weight: 100;
        height: 30px;
        padding: 2px 0;
        text-align: center;
        width: 37px;
        cursor: pointer;
        margin-right: 15px;
        i {
            line-height: 30px;
            font-size: 13px;
        }
    }
    .plus-button:before {
        position: absolute;
        top: 8px;
        display: inline-block;
        border-bottom: 9px solid transparent;
        border-top: 9px solid transparent;
        border-left: 9px solid $color-grey-light;
        content: '';
        left: 39px;
    }
    .plus-button:after {
        position: absolute;
        top: 8px;
        display: inline-block;
        border-bottom: 9px solid transparent;
        border-top: 9px solid transparent;
        border-left: 9px solid #FFFFFF;
        content: '';
        left: 38px;
    }
    .action-buttons {
        display: inline-block;
        div {
            i {
                font-size: 20px;
            }
        }
        .tool-btn {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.preview-container {
    text-align: right;
    .preview-button {
        cursor: pointer;
        display: inline-block;
        border: 1px solid $color-grey-extra-light;
        padding: 5px 7px;
        color: $color-grey-dark;
    }
}

.save-feed-container {
    margin-top: 20px;
    border-top: 1px solid $color-grey-extra-light;
    padding-top: 10px;
    text-align: right;
    .col-md-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn {
        display: inline-block;
        font-size: 16px;
    }
    #server-side-error {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .delete-btn {
        span {
            color: $color-grey-dark;
        }
        display: inline-block;
        margin-bottom: 0;
        @media(max-width: 991px) {
            margin-bottom: 20px;
        }
        @media(max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .save-btn {
        display: inline-block;
        @media(max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .add-more-btn {
        @media(max-width: 991px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        @media(max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

textarea {
    resize: none;
}

.popover {
    display: none !important;
}

.modalContext {
    width: 300px;
    padding: 30px;
    .title {
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
    }
    .easypin-modal-btn {
        float: right;
        .easypin-modal-cancel {
            color: $color-grey-light;
            &:hover {
                color: $color-grey-dark;
            }
        }
    }
    .btn {
        margin-left: 10px;
        border-radius: 4px;
    }
}

.pinParent {
    margin: 0 auto;
}

#insert-video {
    #video-url {
        margin-top: 10px;
    }
    .form-group {
        text-align: center;
    }
}
