@import "zion.util";

.style-seeker-button{
  padding-right: 10px;
  color: $color-grey-light;
  cursor: pointer;
  text-align: right;
}
.trendsetter-button{
  padding-left: 15px;
  color: $color-grey-light;
  cursor: pointer;
  text-align: left;
  border-left: 1px solid $color-black;
  @media only screen and (max-width: 767px) {
    display: none;
  }

}

.active{
  color: $color-black;
}
.trendsetter{
  @media only screen and (min-width: 767px) {
    display: none;
  }
}

.trendsetter-title{
  font-size: 28px;
  text-align: center;
  display: block;
  @media only screen and (min-width: 767px) {
    display: none;
  }
}