@import "zion.util";

.zion-admin-container {
    margin-top: -45px;
    .header-menu {
        margin-left: -15px;
        height: 44px;
        background-color: white;
        border-top: 1px solid $color-grey-extra-light;
        border-bottom: 1px solid $color-grey-extra-light;
        text-align: left;
        margin-bottom: 20px;
        margin-right: -15px;
        @media (min-width: 767px) {
            margin-top: -64px;
        }
        @media (max-width: 767px) {
            margin-left: 0;
            position: fixed;
            top: 65px;
            width: 100%;
            left: 0;
            z-index: 15;
            text-align: center;
        }
        @media (max-width: 767px) {
            top: 35px;
        }

        .dash-border-button {
            margin-left: 2rem;
            height: 100%;
            line-height: 30px;
            color: black;
            font-weight: bolder;
            @media (max-width: 767px) {
                margin-left: 0;
                font-size: $zion-text-font-size-minus-2;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
        .zion-admin-header-active {
            border-bottom: 3px solid #656364;
            border-radius: 0;
        }
        .dashboard-show-more-button {
            position: absolute;
            right: 5%;
            top: 15px;
        }
        .add-look-btn {
            height: 30px;
            line-height: 18px;
            color: white;
            background-color: black;
            font-weight: normal;
            border-radius: 5px;
            margin-left: 3rem;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    .dashboard-show-more-container {
        display: none;
        position: fixed;
        right: 5%;
        top: 78px;
        background: $color-black;
        z-index: 1;
    }
    .dashboard-show-more-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            padding: 10px 15px;
            font-size: $zion-text-font-size-minus-2;
            border-top: 1px solid $color-black-light;
        }
        a {
            color: $color-white;
        }
    }
    #admin-side-menu-container {
        color: white;
        @media (min-width: 768px) {
            padding-left: 2rem;
        }

        .admin-side-menu {
            background-color: #323334;
            margin-top: -90px;
            text-align: center;
            .user-information-container {
                padding-bottom: 1rem;
                border-bottom: 2px solid $color-grey-dark;
                padding-top: 3rem;
                .side-avatar-container {
                    height: 130px;
                    width: 130px;
                    border-radius: 50%;
                    display: inline-block;
                    background: white;
                    margin-top: 1rem;
                    position: relative;
                    overflow: hidden;
                    border: 1px solid white;
                    cursor: pointer;
                    img {
                        border: none;
                    }
                }
                .side-name {
                    margin-top: 10px;
                    color: white;
                }

                .user-roles-container {
                    margin-top: 20px;
                    font-size: 7px;
                    text-align: center;
                    @media (max-width: 991px) {
                        font-size: 12px;
                    }
                    ul {
                        padding-left: 0;
                        li {
                            display: inline-block;
                        }
                    }
                    .dot {
                        margin-left: 2px;
                        margin-right: 5px;
                    }
                }
                .user-information {
                    margin-top: 15px;
                    color: white;
                    font-size: 13px;
                    font-weight: lighter;
                    span {
                        display: block;
                        line-height: 25px;
                    }
                }
            }
            .favourite-container {
                text-align: left;
                padding-top: 1.5rem;
                padding-left: 3rem;
                padding-bottom: 1.5rem;
                border-bottom: 2px solid $color-grey-dark;
                @media (max-width: 991px) {
                    padding-left: 1rem;
                }
                ul {
                    padding-left: 0;
                    li {
                        margin-top: 10px;
                        list-style-type: none;
                        display: block;
                        border-radius: 5px;
                        cursor: pointer;
                        color: white;
                        a{
                            color: white;
                        };
                    }
                }
            }
            .side-footer-container {
                padding-top: 1.5rem;
                @media (max-width: 991px) {
                    padding-left: 5px;
                }
                .apply-button {
                    background: transparent;
                    color: white;
                    border: 1px solid $color-grey-dark;
                    @media (max-width: 991px) {
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: 12px;
                    }
                }
            }
            .logout-button-container {
                margin-top: 13rem;
                width: 100%;
                .logout-button {
                    display: block;
                    background-color: $color-grey-dark;
                    color: white;
                    border: none;
                }
            }
        }
    }
    .success-check {
        padding-left: 10px;
    }
}