$font-mon: montserrat;
$font-open-sans: 'Open Sans', sans-serif;

$color-white: #FFFFFF;
$color-primary: #0C4C8A;
$color-success: #88B14B;
$color-info: #97D5E0;
$color-warning: #F6D258;
$color-danger: #D13076;
$color-danger-lighter: #ffdbea;

$color-black: #1f1e1f;
$color-grey-dark: #656364;
$color-grey-light: #a5a5a5;
$color-grey-lighter: #e6e6e6;
$color-grey-extra-lighter: #f3f3f3;
$color-grey-extra-light: #e5e5e5;
$color-grey-extra-lightest: #f8f8f8;
$color-red: #FF3141;

$color-blue: #6284c5;
$color-blue-dark: #466a8e;
$color-blue-light: #5ea3b1;
$color-blue-lighter: #a9bdd0;

$color-white-dark: #fcfcfc;
$color-black-light: #404040;

$menu-bg-color: #2F2B3A;
$menu-color: #FFF;
$footer-height: 46px;
$padding-bottom-footer: 70px;
$info-color: #5bc0de;
$avatar-width: 75px;
$avatar-width-lg: 130px;
$stylist-header-height: 400px;
$stylist-avatar-top: 100px;

$count-color: #b700db;
$pink: #f1677f;
$main-font-color: rgba(0, 0, 0, 0.87);
$second-font-color: rgba(0, 0, 0, 0.54);
$third-font-color: rgba(0, 0, 0, 0.38);

$zion-text-font-size-minus-6: 8px;
$zion-text-font-size-minus-4: 10px;
$zion-text-font-size-minus-3: 11px;
$zion-text-font-size-minus-2: 12px;
$zion-text-font-size-minus-1: 13px;
$zion-text-font-size-default: 14px;
$zion-text-font-size-plus-2: 16px;
$zion-text-font-size-plus-4: 18px;
$zion-text-font-size-plus-6: 20px;
$zion-text-font-size-plus-8: 22px;
$zion-text-font-size-super-large: 45px;