<div class="promote-campaign-processing-container promote-campaign-final-container">
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <div class="front-content">
                    Good Luck
                </div>
            </div>
            <div class="back">
                <div>
                    <span class="coin-num">{{earnedCoinAmount}}</span>
                </div>
                <div class="coin-currency">{{coinName}}</div>
            </div>
        </div>
    </div>
    <p class="processing-title">
        Congratulations!
    </p>
    <p class="processing-message-1">
        To see your total balance go to your wallet in your profile page
    </p>
    <p class="processing-message-1">
        or keep participating by choosing another campaign.
    </p>
</div>
