<div class="promote-campaign-processing-container promote-campaign-loading-container">
    <div class="loading-icon">
        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
    </div>
    <p class="processing-title">
        We are confirming
    </p>
    <p class="processing-title">
        your participation in this campaign.
    </p>
    <div class="processing-message-1">
        <p class="processing-message-content">
            Please wait!
        </p>
        <p class="processing-message-content">
            Don't close this window...
        </p>
        <p class="processing-message-content">
            It may take up to a few seconds to verify your job.
        </p>
    </div>
    <p class="processing-message-2">
        You will soon claim your reward!
    </p>
</div>


