<div class="promote-campaign-processing-container promote-campaign-clam-reward-container">
    <div class="processing-icon">
        <i class="fa fa-4x fa-check-circle-o" aria-hidden="true"></i>
    </div>
    <p class="processing-title">
        Well done!
    </p>
    <p class="processing-message-1">
        Thank you for participating in this campaign.
        <br>
        This could be your lucky day, give your luck a try and you could win up to {{maxCoinEarn}}&nbsp;{{coinName}} coins.
    </p>
    <button class="promote-campaign-claim-btn btn zion-btn-black" id="promote-campaign-claim-btn">
        I'm Feeling Lucky!
    </button>
</div>

