<div class="profile-comments-container">
    <div>
        <span class="title">Comments</span>
    </div>
    <div class="profile-sender-container zion-form">
        <div class="zion-input-error-text zion-hide" id="comment-error"></div>
        <textarea class="form-control comment-input" placeholder="Add a comment..."></textarea>
        <div class="profile-comments-submit btn btn-primary">
            SEND
            <div id="grecaptcha-id" class="zion-grecaptcha">
            </div>
        </div>
    </div>
    <div class="comment-container" id="comment-container">
        <div class="user-comments" id="user-comments"></div>
        <div class="load-more-button-container hidden" id="load-more-button-container">
            <div class="load-more-button btn zion-btn-white" id="load-more-button">SHOW MORE</div>
        </div>
    </div>
</div>