<div class="text-container" xmlns="http://www.w3.org/1999/html">
    <br>
        Display your personal style </br>
    to fashion fans and tastemakers worldwide.
    </span>
</div>

<div id="add-looks-button">
    <i class="fa fa-plus" aria-hidden="true"></i>
</div>
