<div class="modal-dialog campaign-modal-container" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="top-bar clearfix">
                <div class="modal-close">
                    <i class="fa fa-lg fa-chevron-left" aria-hidden="true" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="mobile-top-bar-title">
                    <h4 class="mobile-top-bar-title-content">Expired Campaigns</h4>
                </div>
            </div>
            <button type="button" class="modal-close-btn close" data-dismiss="modal" aria-label="Close">
                <span class="cancel-text" aria-hidden="true">&times;</span>
            </button>
            <div class="zion-expired-campaigns-container">
                
            </div>
            <div class="zion-show-more-button-container">
                <button class="btn btn-primary show-more-expired-campaign-bt {{#unless nextPageToken}}zion-hide{{/unless}}">Show More</button>
            </div>
         </div>
    </div>
</div>