<div id="myModal" class="modal fade zion-feed-modal zion-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div id="feed-list" class="grid">
    <div class="grid-col-sizer"></div>
    <div class="grid-gutter-sizer"></div>
</div>
<div class="page-load-status hidden">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<p class="no-data hidden">No data to load</p>