<div class="col-sm-12 right-content">
    <span class="zion-looks-status draft look-draft-link">Draft({{data.draftCount}})</span>
    <span class="zion-looks-status published look-final-link">Published({{data.finalCount}})</span>
</div>
