<section class="zion-stylist-service">
    <div class="row">
        <article class="service col-sm-12 no-padding">
            <div class="row">
                <div class="image col-sm-5 col-xs-12">
                    <img src="http://media.istockphoto.com/photos/clothes-on-a-rack-picture-id466155501?k=6&m=466155501&s=612x612&w=0&h=sqK-YgprzaHpNQCH9mo4VXKdHtRnI4PI6Fiu71Ik7EU=" alt="">
                </div>
                <div class="content col-sm-7 col-xs-12">
                    <h3 class="title">Wardrobe audit</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet purus ut odio rutrum ultrices sed eget est. Curabitur neque neque, ornare non risus non, imperdiet consectetur velit. Cras facilisis sapien sem, nec eleifend enim mollis et.</p>
                </div>
            </div>
        </article>
        <article class="service col-sm-12 no-padding">
            <div class="row">
                <div class="image col-sm-5 col-xs-12">
                    <img src="http://68.media.tumblr.com/a68ac176ce07542fc89ff4d872091176/tumblr_mpeswyKYDk1soc80vo1_1280.jpg" alt="">
                </div>
                <div class="content col-sm-7 col-xs-12">
                    <h3 class="title">Color and body shape</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet purus ut odio rutrum ultrices sed eget est. Curabitur neque neque, ornare non risus non, imperdiet consectetur velit. Cras facilisis sapien sem, nec eleifend enim mollis et.</p>
                </div>
            </div>
        </article>
    </div>
</section>