{{#if facebook}}
    <span>
        <a href="{{facebook}}" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </span>
{{/if}}
{{#if instagram}}
    <span>
        <a href="{{instagram}}" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </span>
{{/if}}
{{#if youtube}}
    <span>
        <a href="{{youtube}}" target="_blank">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
    </span>
{{/if}}
{{#if linkedin}}
    <span>
        <a href="{{linkedin}}" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
    </span>
{{/if}}
