<div class="user-roles-filter">
    <section class="filter-container style-filter-show">
        <div class="title">
            <i class="fa fa-minus-square-o filter-expand" aria-hidden="true"></i>
            <span>CREATOR</span>
        </div>
        <div class="checkbox" id="author-roles-filter">
            <div class="col-sm-3 col-xs-6">
                <label class="checkbox-inline">
                    All
                    <input type="checkbox" id="all" data-role-code="all" data-role-name="All" class="author-roles-item">
                    <div class="control-indicator"></div>
                </label>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label class="checkbox-inline">
                    Stylist
                    <input type="checkbox" id="stylist" data-role-code="STYLIST" data-role-name="Stylist"
                           class="author-roles-item">
                    <div class="control-indicator"></div>
                </label>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label class="checkbox-inline">
                    Influencer
                    <input type="checkbox" id="influencer" data-role-code="INFLUENCER" data-role-name="Influencer"
                           class="author-roles-item">
                    <div class="control-indicator"></div>
                </label>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label class="checkbox-inline">
                    Designer
                    <input type="checkbox" id="designer" data-role-code="DESIGNER" data-role-name="Designer"
                           class="author-roles-item">
                    <div class="control-indicator"></div>
                </label>
            </div>
        </div>
    </section>

    <section class="filter-container style-filter-show table clearfix">
        <div class="title location  col-sm-2">
            <span>COUNTRY</span>
        </div>
        <div class="location-options-container col-sm-3">
            <select class="form-control location-options">
            </select>
        </div>
    </section>

    <hr class="zion-hr-border">

    <section class="filter-submit">
        <span class="zion-link" id="filter-select-cancel-btn">Cancel</span>
        <button class="btn zion-btn-black" id="filter-submit-btn">APPLY</button>
    </section>

</div>