<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Before posting, please agree to the rules:</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    <strong>Photo Rules.</strong> Be sure that your photos only show YOU. You may use photos that
                    feature
                    your work on your
                    clients, but you MUST obtain written permission from your customers to use their image. Crowds in
                    the
                    background are okay so long as their faces aren't distinguishable.
                </li>

                <li>
                    <strong>Your work must be visible.</strong> A good quality and professional photo must be one that
                    shows
                    at least the head
                    to mid-thigh or neck to the feet.
                </li>

                <li>
                    <strong>One outfit per look.</strong> Showing multiple layers of an outfit is okay, but stick to one
                    outfit or style per
                    photo. Have another outfit? Save it for a different photo!
                </li>
                <li>
                    <strong>Avoid over-editing photos.</strong> Excessive photo editing, such as caption or logo
                    overlays,
                    colorization,
                    skewing, stretching, rotating, shadowing or other distracting edits will not be permitted under any
                    circumstances.
                </li>
                <li>
                    <strong>Your work must be your own! </strong>Your collections must feature your own work. Remember,
                    stealing is against the law! Any looks or photos that can be considered copyright infringement will
                    be
                    immediately deleted and you will be terminated from our Trendsetter community.
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="agree-conditions-button" type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
        </div>
    </div>
</div>