.row-container {
  margin-top: 20px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer; }
  .row-container .preview-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-size: cover; }
  .row-container .history-title {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    height: 40px; }
  .row-container .zion-campaign-reword {
    padding-right: 0;
    padding-left: 15px; }
    .row-container .zion-campaign-reword .zion-campaign-reword-icon {
      vertical-align: middle;
      margin-right: 5px;
      font-size: 20px;
      color: orange; }

.history-load-more-container {
  margin-top: 15px;
  text-align: right; }
  .history-load-more-container .btn {
    width: 200px; }
