.add-look-button-container {
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: 2px dashed #a5a5a5;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  text-align: center;
  color: #a5a5a5;
  font-size: 30px;
  margin-bottom: 45px; }
  .add-look-button-container .content {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 2em; }

.add-look-button-container:after {
  content: "";
  display: block;
  padding-bottom: 99%; }

.zion-stylist-content {
  position: relative;
  padding-top: 1rem; }
  .zion-stylist-content .add-post-button .zion-feed-container img {
    filter: none; }
  .zion-stylist-content .add-post-button .zion-feed-container .dash {
    border: 2px dashed #a5a5a5; }
  .zion-stylist-content .add-post-button .zion-feed-container:hover {
    background: white;
    cursor: pointer; }
  .zion-stylist-content .zion-feed-container {
    padding-left: 0;
    padding-right: 0; }
    .zion-stylist-content .zion-feed-container .zion-feed-content {
      border: 2px dashed white;
      border-radius: 10px;
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: 97%; }
      .zion-stylist-content .zion-feed-container .zion-feed-content .edit-button-container {
        height: 30px;
        width: 30px;
        font-size: 20px;
        line-height: 32px;
        right: 10px;
        bottom: 10px; }
      .zion-stylist-content .zion-feed-container .zion-feed-content .main-image {
        width: 100%; }
        .zion-stylist-content .zion-feed-container .zion-feed-content .main-image:hover {
          filter: brightness(50%); }
    .zion-stylist-content .zion-feed-container .zion-feed-footer .tag {
      display: none; }
  .zion-stylist-content .stamp {
    left: 0;
    top: 0;
    position: absolute;
    width: 23.5%; }
  .zion-stylist-content .grid {
    margin-top: 0; }
    .zion-stylist-content .grid .grid-item {
      margin-bottom: 0; }
  @media screen and (max-width: 576px) {
    .zion-stylist-content .grid-item,
    .zion-stylist-content .grid-col-sizer {
      width: 48%; }
    .zion-stylist-content .grid-gutter-sizer {
      width: 2%; }
    .zion-stylist-content .stamp {
      width: 48%; } }
  .zion-stylist-content .zion-feed-container {
    padding: 0; }
    .zion-stylist-content .zion-feed-container .interact:hover {
      cursor: default; }

.add-look {
  height: 150px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: flex;
  -ms-flex-direction: column;
  /* TWEENER - IE 10 */
  flex-direction: column;
  -ms-flex-pack: center;
  /* TWEENER - IE 10 */
  justify-content: center;
  color: #a5a5a5; }
  .add-look:hover {
    cursor: pointer; }
  .add-look p {
    margin: 0; }
  .add-look .add-look-btn-container {
    text-align: center; }
  .add-look .icon {
    display: inline-block;
    vertical-align: super;
    margin-right: 15px;
    font-size: 20px; }
  .add-look .content {
    display: inline-block; }
    .add-look .content .title {
      font-size: 16px; }
    .add-look .content .text {
      font-size: 12px; }

.add-looks-menu {
  border-bottom: 3px solid #656364;
  border-radius: 0; }

#looks-status-filter {
  margin-bottom: 3rem; }
